<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <title>Artist Word Association</title>
</head>
<body>
    <div id="navbar-container">
        <div id="ls-container">
            <div id="title-abbrv">
                <p>AWA.</p>
            </div>
            <div id="title-full">
                <p>Artist</p>
                <p>Word</p>
                <p>Association</p>
            </div>
        </div>
    </div>
    <div id="hero-container">
        <div id="main-container">
            <div id="main-title">
                <h1>Artist Word Association</h1>
            </div>
            <div id="search-container">
                <form action="search/" method="get">
                    <input type="text" id="searchbar" name="artist" placeholder="  Type artist name or Twitter handle..." required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div id="artist-images-container">
            <img id="tylerthecreator" src="{% static 'home/img/tylerthecreator.png' %}" alt="tyler slay">
            <img id="dijon" src="{% static 'home/img/dijon.png' %}" alt="dijon slay">
            <img id="sza" src="{% static 'home/img/sza.png' %}" alt="sza slay">
            <img id="amine" src="{% static 'home/img/amine.png' %}" alt="amine slay">
            <img id="beabadoobee" src="{% static 'home/img/beabadoobee.png' %}" alt="beabadoobee slay">
            <img id="omarapollo" src="{% static 'home/img/omarapollo.png' %}" alt="OMAR slay">
        </div>
    </div>
</body>
</html>
